$green: rgba(61, 129, 104, 1);

body {
  height: 100vh;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #F2EAE2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 1em;
  .card {
    border-radius: 8px;
    background-color: white;
    max-width: 343px;
    .image {
      border-radius: 8px 8px 0 0;
      overflow-y: hidden;
      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.43 / 1;
      }
    }
    .content {
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      > footer {
        margin-top: auto;
      }
      .pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        h1 {
          margin: 0;
          color: $green;
        }
        .markdown {
          text-decoration: line-through;
          color: #6c7289;
        }
        > * {
          flex: 1 0 50%;
        }
      }
      h1 {
        color: #1C232B;
      }
      p {
        color: #6c7289;
      }
    }
    @media (min-width: 768px) {
      max-width: 600px;
      width: 600px; 
      height: 450px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .image {
        border-radius: 8px 0 0 8px;
        img {
          border-radius: 8px 0 0 8px;
          aspect-ratio: 1 / 1.5;
        }
      }
      .content {
        padding: 2em;
        .pricing {
          gap: 1.5em;
        }
      }
    }
  }
}

button {
  appearance: none; 
  outline: none;
  border: none;
  padding: 1em 0;
  background: #3d8168;
  width: 100%;
  border-radius: 8px;
  color: white;
  &:hover,
  &:focus-visible {
    cursor: pointer;
    background: #1A4032;
  }
}

p {
  margin-top: 0;
}

small {
  font-weight: 500;
  color: #6c7289;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
}

p {
  font-size: 14px;
  line-height: 23px;
}

.icon {
  display: inline-block;
  line-height: 1em;
  width: 1em;
  height: 1em;
  svg, path {
    fill: currentColor;
  }
}